<div class="container-scroller">

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Indicators</h4>
              <p class="card-description"> <code>Valores Observados</code>
              </p>
              <div class="table-responsive">
                <table class="table">
                  <div class="clearfix" *ngIf="!spinnerActiveIndicator">
                    <div class="spinner-border float-right" role="status">
                      <span class="sr-only"></span>
                    </div>
                  </div>
                  <thead>
                    <tr>
                      <th>{{dolar.nombre}}</th>
                      <th>{{uf.nombre}}</th>
                      <th>Fecha</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{dolar.valor}}</td>
                      <td>{{uf.valor}}</td>
                      <td>{{uf.fecha}}</td>
                      <td><label
                          [ngClass]="[indicatorStatus ? 'badge badge-success': 'badge badge-warning']">{{statusText}}</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Chapters detected</h4>
              <p class="card-description">
                <code class="description-font-size">Scraping configurados</code>
              </p>
              <p>
                <button class="badge btn btn-sm new-anime-style-button" (click)="optionsCollapse.toggle()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                  </svg>
                </button>
              </p>
              <div class="collapse form-group" mdbCollapse #optionsCollapse="mdbCollapse">
                <tr>
                  <th>
                    <div class="input-group-custom">
                      <label class="card-title">Search by anime</label>
                      <select #animeSelect class="badge filter-by-anime" (change)="update($event)">
                        <option value="">-------</option>
                        <option [value]="item" *ngFor="let item of anime_names">{{item}}</option>
                      </select>
                    </div>
                  </th>
                  <th>
                    <div class="input-group-custom" *ngIf="enaSeason">
                      <label class="card-title">Season</label>
                      <select class="badge filter-by-anime" (change)="updateSeason($event)">
                        <option value="">-------</option>
                        <option [value]="item" *ngFor="let item of seasons2">{{item}}</option>
                      </select>
                    </div>
                  </th>
                </tr>
                <br>
                <tr>
                  <th>
                    <label class="card-title">Filter by clicked</label>
                    <br>
                    <div class="btn-group-click btn-group-toggle" data-toggle="buttons"
                      *ngFor="let ele of radioButtons">
                      <label class="btn btn-secondary-clicked" [ngClass]="{'active': radioActive === ele.value}">
                        <input type="radio" (click)="clickedFilter(ele.value)" checked> {{ele.name}}
                      </label>
                    </div>

                  </th>
                </tr>
                <tr>
                  <th class="new-anime-style">
                    <!-- <label class="card-title">Configure new anime</label> -->
                    <div class="input-group">
                      <button class="badge btn btn-sm refresh-animes" (click)="refreshAnimes()"
                        [disabled]="spinnerActive">
                        <span [ngClass]="[spinnerActive ? 'spinner-border-custom spinner-border-sm-custom' : '']"
                          role="status" aria-hidden="true">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path
                              d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                            <path fill-rule="evenodd"
                              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                          </svg>
                        </span>
                        Refresh data
                      </button>
                    </div>
                  </th>
                </tr>
                <br>
                <tr>

                </tr>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Title</th>
                      <th>Chapter name</th>
                      <th>Season</th>
                      <th>Link</th>
                      <th>Clicked</th>
                    </tr>
                  </thead>
                  <div class="clearfix" *ngIf="!spinnerActiveAnime">
                    <div class="spinner-border float-right" role="status">
                      <span class="sr-only">
                      </span>
                    </div>
                  </div>
                  <tbody *ngFor="let item of configured_animes.results">
                    <tr>
                      <td><img src="/assets/icon.png"></td>
                      <td>{{item.title}}</td>
                      <td>{{item.chapter_name | slice:0:20}}</td>
                      <td class="text-info">{{item.season}} <i class="mdi mdi-arrow-down"></i></td>
                      <td><a #link (click)="clickedLink(item)" href="{{item.chapter_link}}">{{item.chapter_link |
                          slice:0:20}}</a></td>
                      <td><label
                          [ngClass]="[item.clicked === 1 ? 'badge badge-success': 'badge badge-danger']">{{item.clicked
                          === 1? true : false}}</label></td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-hover">
                  <tr>
                    <td class="paginationtd">
                      <div class="pagination" *ngFor="let page of pages">
                        <a (click)="changeCurrentPage(page)" [ngClass]="{'active': page === clickedPage }">{{page}}</a>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>