.edit-input {
    border: 1px solid #878787;
    height: calc(2.25rem + 2px);
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.625rem 0.6875rem;
    background-color: #b0b4ba;
    border-radius: 5px;
    color: #b0b4ba;
}