<div class="container-scroller">
    <div class="main-panel">


        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Animes</h4>
                            <p class="card-description">
                                <code>Animes Configurados</code>
                            </p>
                            <p>
                                <button class="badge btn btn-sm new-anime-style-button"
                                    (click)="optionsCollapse.toggle()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-list" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                </button>
                            </p>
                            <div class="collapse form-group" mdbCollapse #optionsCollapse="mdbCollapse">
                                <tr>
                                    <th style="width: 48%;">

                                        <label class="card-title">Search by name</label>
                                        <div class="input-group" style="width: 280px;">
                                            <input type="text" class="form-control" placeholder="Search by name"
                                            aria-label="Search by name" aria-describedby="basic-addon2" #name name="filterName">
                                            <!-- (keyup)="filterByName($event)"> -->
                                            <button class="badge-primary btn btn-sm btn-primary" type="icon" (click)="filterByName()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                            </svg>
                                        </button>
                                        <button class="badge-primary btn btn-sm  trash-button" *ngIf="activeFilterName" (click)="clearButton()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                              </svg>
                                        </button>
                                    </div>
                                    <div class="input-group"*ngIf="activeFilterName">
                                        <th>
                                            <p class="card-description">
                                                <code>Searching by:</code>{{inputName.nativeElement.value}}
                                            </p>
                                        </th>
                                    </div>
                                    </th>

                                </tr>
                                <br>
                                <tr>
                                    <th class="new-anime-style">
                                        <!-- <label class="card-title">Configure new anime</label> -->
                                        <div class="input-group">
                                            <button class="badge btn btn-sm new-anime-style-button"
                                                (click)="openModal()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path
                                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                </svg><br> New anime
                                            </button>
                                            <button class="badge btn btn-sm refresh-animes" (click)="refreshAnimes()"
                                                [disabled]="spinnerActive">
                                                <span
                                                    [ngClass]="[spinnerActive ? 'spinner-border-custom spinner-border-sm-custom' : '']"
                                                    role="status" aria-hidden="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-arrow-repeat"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                                                        <path fill-rule="evenodd"
                                                            d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                                <br>
                                <tr>

                                </tr>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <div class="clearfix" *ngIf="spinnerActiveIndicator">
                                        <div class="spinner-border float-right" role="status">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <thead>
                                        <tr>
                                            <th>Anime</th>
                                            <th>Url</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let item of configuredAnime?.results">
                                        <tr>
                                            <td>{{item.title}}</td>
                                            <td> <a href="{{item.url}}"> {{item.url}}</a></td>
                                            <td>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="flexSwitchCheckDefault" [checked]="item.enable === '1'"
                                                        (click)="activateDesactivate($event, item)">
                                                </div>
                                                <!-- <label
                                                    [ngClass]="[item.enable == '1' ? 'badge badge-success': 'badge badge-warning']">{{statusText}}</label> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-hover">
                                    <tr>
                                        <td class="paginationtd">
                                            <div class="pagination" *ngFor="let page of pages">
                                                <a (click)="changeCurrentPage(page)"
                                                    [ngClass]="{'active': page === clickedPage }">{{page}}</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>