app-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.input-group-custom {
    margin-left: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

